[submodule "PlayTogetherMain/moonlight-qt"]
	path = PlayTogetherMain/moonlight-qt
	url = https://github.com/Searaphim/moonlight-qt
[submodule "PlayTogetherMain/Sunshine"]
	path = PlayTogetherMain/Sunshine
	url = https://github.com/Searaphim/Sunshine
[submodule "NStrip"]
	path = NStrip
	url = https://github.com/Searaphim/NStrip
